<mat-card class="task-table-card">
  <table mat-table [dataSource]="tasks">
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef>Completada</th>
      <td mat-cell *matCellDef="let task">
        <mat-checkbox
          [checked]="task.completed"
          (change)="markCompleted(task, $event.checked)"
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let task">{{ task.title }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let task">{{ task.description }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let task">
        @if(isMobileScreen()) {
        <button matIconButton (click)="deleteTask(task.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button matIconButton (click)="editTask(task)">
          <mat-icon>edit</mat-icon>
        </button>
        }@else {
        <button matButton="outlined" (click)="deleteTask(task.id)">
          Eliminar
        </button>
        <button matButton="filled" color="tertiary" (click)="editTask(task)">
          Editar
        </button>
        }
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="['completed', 'title', 'description', 'actions']"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: ['completed', 'title', 'description', 'actions']
      "
    ></tr>
  </table>
</mat-card>
