<mat-card class="task-form-card">
  <form [formGroup]="taskForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" required />
      @if(taskForm.get('title')?.hasError('required') &&
      (taskForm.get('title')?.touched || taskForm.get('title')?.dirty)){
      <mat-error> El título es obligatorio </mat-error>
      } @if(taskForm.get('title')?.hasError('minlength') &&
      (taskForm.get('title')?.touched || taskForm.get('title')?.dirty)){
      <mat-error> Mínimo 3 caracteres </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="description" />
      @if(taskForm.get('description')?.hasError('required') &&
      (taskForm.get('description')?.touched ||
      taskForm.get('description')?.dirty)){

      <mat-error> La descripción es obligatoria </mat-error>
      } @if(taskForm.get('description')?.hasError('minlength') &&
      (taskForm.get('description')?.touched ||
      taskForm.get('description')?.dirty)){

      <mat-error> Mínimo 5 caracteres </mat-error>
      }
    </mat-form-field>
    <div class="button-container">
      @if(task) {
      <button
        type="button"
        matButton="filled"
        (click)="onClick('edit', task)"
      >
        Actualizar
      </button>
      <button type="button" matButton="tonal" (click)="onClick('cancel')">
        Cancelar
      </button>
      }@else {
      <button type="button" matButton="filled" (click)="onClick('add')">
        Agregar
      </button>
      }
    </div>
  </form>
</mat-card>
